{% extends 'themefrontend.html.twig' %}

{% block content %}
    <div class="row form-panel box" style="margin-top: 70px">
    <p>Logged in as {{ app.user.username }} | <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default">Logout</a></p>

    {% if app.session is not empty %}
        <p>The user has been created successfully.
        </p><p>
        Congrats {{ app.user.nombre }}, your account is now activated.
        </p>
        <p>
            <a href="{{ path('homepage') }}" class="btn btn-default">Back to the originating page</a>

        </p>
    {% endif %}
    </div>
{% endblock content %}


